* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --textcolor: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.1);
  --stroke-color-hover: white;
  --surface-color: rgba(255, 255, 255, 0.1);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --textcolor: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.1);
  --stroke-color-hover: black;
  --surface-color: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--textcolor);
}

#main-container {
  width: 100%;
  max-width: 588px;
  margin: 56px auto 0px;
  padding: 0px 24px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 0 auto;
}

#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 0;
  transform: translateY(-10%);
}

.light #switch button {
  right: 0;
  left: initial;
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: solid 1px rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#profile {
  text-align: center;
  padding: 24px;
}

#profile img {
  width: 140px;
}

#profile p {
  font-weight: 400;
  margin-top: 8px;
  line-height: 24px;
}

ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 18px 0;
}

li {
  justify-content: center;
  list-style: none;
  padding: 16px 24px;
  border: 1px solid;
  border-color: var(--stroke-color);
  border-radius: 10px;
  background-color: var(--surface-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.5s;
}

ul li a {
  display: flex;
  color: var(--textcolor);
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

li:hover {
  background: rgba(255, 255, 255, 0.05);
  border: 1.5px solid;
  border-color: var(--stroke-color-hover);
}

#social-links {
  margin-top: 24px;
  font-size: 24px;
  display: flex;
  justify-content: center;
}

#social-links a {
  display: flex;
  transition: 0.2s;
  padding: 16px;
  justify-content: center;
  align-items: center;
}

#social-links a:hover {
  background: var(--highlight-color);
  border-radius: 50%;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 10px;
}

footer a {
  display: inline;
  font-weight: bold;
}
